@import "../../../styles/utils.module.scss";

.container {
  display: flex;
  align-items: flex-start;
  gap: 1rem;

  background-color: var(--white);
  border-radius: 8px;
  padding: 1.5rem;
}

.textarea {
  border-radius: 8px;
  padding: 1rem 1.5rem;
  resize: none;
  border: 1px solid var(--lightGray);
  outline: none;
  caret-color: var(--moderateBlue);
  color: var(--darkBlue);
  height: 96px;
  width: 100%;

  &::placeholder {
    color: var(--grayishBlue);
    opacity: 1;
  }

  &:focus {
    border: 1px solid var(--moderateBlue);
  }
}
