@import "../../../../../styles/utils.module.scss";

.container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.owner {
  background-color: var(--moderateBlue);
  font-weight: 500;
  font-size: 13px;
  color: var(--white);
  border-radius: 2px;
  height: 19px;
  min-width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
