.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--veryLightGray);
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
}

.input {
  width: 40px;
  text-align: center;
  color: var(--moderateBlue);
  background-color: var(--veryLightGray);
}

.button {
  cursor: pointer;
  padding: 1rem;
  width: fit-content;
  fill: var(--lightGrayishBlue);

  &:hover {
    fill: var(--moderateBlue);
  }
}

.row {
  flex-direction: row;
}
