.headingLarge {
  font-weight: 500;
  font-size: 24px;
}

.headingMedium {
  font-weight: 500;
  font-size: 16px;
}

.bodyMediumBold {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.bodyMedium {
  font-weight: 400;
  font-size: 16px;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding-left: max(calc(50% - var(--container) / 2), 2rem);
  padding-right: max(calc(50% - var(--container) / 2), 2rem);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--moderateBlue);
  color: var(--white);
  width: 104px;
  height: 48px;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  composes: bodyMediumBold;

  &:hover {
    background-color: var(--lightGrayishBlue);
  }
}

@mixin small {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin medium {
  @media screen and (max-width: 768px) {
    @content;
  }
}
