@use "../abstracts/index" as *;

.action {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  cursor: pointer;
  color: var(--moderateBlue);
  fill: var(--moderateBlue);
  @include bodyMediumBold;

  &:hover {
    color: var(--lightGrayishBlue);
    fill: var(--lightGrayishBlue);
  }

  &--delete {
    color: var(--softRed);
    fill: var(--softRed);

    &:hover {
      color: var(--paleRed);
      fill: var(--paleRed);
    }
  }
}
