@use "../abstracts/index" as *;

.comment {
  background-color: var(--white);
  border-radius: 8px;
  padding: 1.5rem;

  display: grid;
  row-gap: 1rem;
  column-gap: 1.5rem;
  grid-template-columns: 40px 1fr 1fr;
  grid-template-rows: auto 1fr;

  &__profile {
    display: flex;
    align-items: center;
    gap: 1rem;

    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  &__paragraph {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }

  &__action {
    display: flex;
    gap: 1.5rem;

    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: flex-end;
  }

  &__counter {
    grid-row: 1 / 3;
  }
}
