@use "../abstracts/index" as *;

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--veryLightGray);
  border-radius: 10px;
  width: fit-content;
  height: fit-content;

  &__input {
    width: 40px;
    text-align: center;
    color: var(--moderateBlue);
    background-color: var(--veryLightGray);
    @include bodyMediumBold;
  }

  &__button {
    cursor: pointer;
    padding: 1rem;
    width: fit-content;
    fill: var(--lightGrayishBlue);

    &:hover {
      fill: var(--moderateBlue);
    }
  }

  &--row {
    flex-direction: row;
  }
}
