.container {
  display: flex;
  align-items: center;
  gap: 1rem;

  grid-column: 2 / 3;
  grid-row: 1 / 2;
  /* 
  display: flex;
  align-items: center;
  gap: 1.5rem;
  white-space: nowrap;
  */
}

.owner {
  background-color: var(--moderateBlue);
  font-weight: 500;
  font-size: 13px;
  color: var(--white);
  border-radius: 2px;
  height: 19px;
  min-width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .container {
    grid-column: 1 / 3;
    grid-row: 1;
  }
}
